{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Livres</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'accueil' %}" class="logo">Jason Ololo</a>
            <ul>
            <li><a href="{% url 'accueil' %}">Accueil</a></li>
            <li><a href="{% url 'biographie' %}">Biographie</a></li>
            <li><a href="{% url 'liste_livre' %}" class="active">Livres</a></li>
            <li><a href="{% url 'liste_video' %}">Vidéos</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Se déconnecter</button>
                </form>
            {% else %}
                <li>
                    <a href="{% url 'login' %}" class="nav-login-link" aria-label="Se connecter">
                        <i class="fa-solid fa-user small-login-icon" aria-hidden="true"></i>
                    </a>
                </li>
            {% endif %}
      </ul>
    </nav>
  </header>
    <section class="livres-section">
        <h1>Bibliothèque de Jason Ololo</h1>
        <div class="livres-grid">
        {% for livre in livres %}
            <div class="livre-card">
                <h2>{{ livre.titre }}</h2>
                <p>Auteur : {{ livre.auteur }}</p>
                <p>{{ livre.description }}</p>
                <img src="{{ livre.couverture.url }}" alt="Couverture de {{ livre.titre }}">
                <p>Date de publication : {{ livre.date_publication }}</p>
                <p>ISBN : {{ livre.isbn }}</p>
                <p>Prix : {{ livre.prix }} {{ livre.devise }}</p>
                <a href="{{ livre.pdf.url }}" target="_blank">Télécharger le PDF</a>
            </div>
        {% endfor %}
        </div>
        {% if is_auteur %}
            <a href="{% url 'ajouter_livre' %}">Ajouter un livre</a>
        {% endif %}

        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </section>
</body>
</html>