{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Livres</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <a href="index.html" class="logo">Jason Ololo</a>
            <ul>
            <li><a href="index.html">Accueil</a></li>
            <li><a href="{% url 'biographie' %}">Biographie</a></li>
            <li><a href="{% url 'liste_livre' %}" class="active">Livres</a></li>
            <li><a href="{% url 'liste_video' %}">Vidéos</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Déconnexion</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Connexion</a></li>
            {% endif %}
      </ul>
    </nav>
  </header>
    <section class="livres-section">
        <h1>Bibliothèque de Jason Ololo</h1>
        <div class="livres-grid">
        {% for livre in livres %}
            <div class="livre-card">
                <h2>{{ livre.titre }}</h2>
                <p>Auteur : {{ livre.auteur }}</p>
                <p>{{ livre.description }}</p>
                <img src="{{ livre.couverture.url }}" alt="Couverture de {{ livre.titre }}">
                <p>Date de publication : {{ livre.date_publication }}</p>
                <p>ISBN : {{ livre.isbn }}</p>
            </div>
        {% endfor %}
        </div>
    </section>
</body>
</html>