{% load static %}
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <title>Connexion</title>
</head>
<body>
    <header>
        <nav>
            <a href="index.html" class="logo">Jason Ololo</a>
            <ul>
                <li><a href="index.html">Accueil</a></li>
                <li><a href="{% url 'biographie' %}">Biographie</a></li>
                <li><a href="{% url 'liste_livre' %}">Livres</a></li>
                <li><a href="{% url 'liste_video' %}">Vidéos</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                {% if user.is_authenticated %}
                    <li class="active"><a href="{% url 'logout' %}">Déconnexion</a></li>
                {% else %}
                    <li class="active"><a href="{% url 'login' %}">Connexion</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <section class="livres-section">
        <h1>Connexion</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Se connecter</button>
        </form>
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}
            {% endif %}
    </section>
</body>
</html>