{% load static %}
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <title>Connexion</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'accueil' %}" class="logo">Jason Ololo</a>
            <ul>
                <li><a href="{% url 'accueil' %}">Accueil</a></li>
                <li><a href="{% url 'biographie' %}">Biographie</a></li>
                <li><a href="{% url 'liste_livre' %}">Livres</a></li>
                <li><a href="{% url 'liste_video' %}">Vidéos</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Se déconnecter</button>
                    </form>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}" class="nav-login-link" aria-label="Se connecter">
                            <i class="fa-solid fa-user small-login-icon" aria-hidden="true"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <section class="livres-section">
        <h1>Connexion</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Se connecter</button>
        </form>
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}
            {% endif %}
    </section>
</body>
</html>